<div class="flex flex-col h-screen" id="body">
	<div  class="bg-[url('../images/background.png')] bg-dark bg-no-repeat bg-cover w-screen h-full" >
		<div class="flex justify-center w-3/5 mx-auto">
			<div>

				<img class="mx-auto" src="./images/logo.png">
				<div class="w-3/4 md:w-1/2 my-7 mx-auto">
					<p class="text-center text-white font-roboto md-text-3xl text-xl font-medium break-words">Write the name of an artist or band and we will generate a playlist based on your taste using AI</p>
				</div>
				<form method='post' action='/form' id='form' class="space-y-5 flex flex-col justify-center mx-auto" >
					<input class="rounded-md p-2 md:w-3/5 mx-auto" placeholder='Artis/band' type='text' name='band' required />
					<div class='text-white text-center text-normal text-xl flex justify-center space-x-11'>
						<div>
							<input placeholder='' type='checkbox' name='top' id='top' />
							<label for='top'>10 most related bands</label>
						</div>
						<div>
							<input type='checkbox' name='shuffle' id='shuffle' />
							<label for='shuffle'>Shuflle the playlist? </label>
						</div>
					</div>
					<button class="text-4xl md:w-1/2 mx-auto p-2 font-semibold font-robot rounded-2xl bg-complement text-white" type='submit'> Generate </button>
				</form>
			</div>
		</div>

	</div>
	<div class="bg-dark w-full mx-auto flex justify-center">
	<div class="flex justify-around">
		<a href="https://github.com/isaac152" class="w-1/5"><img src="https://img.icons8.com/ios-filled/150/FF6347/github.png"/></a> 
		<a href="https://www.linkedin.com/in/isaac152" class="w-1/5"><img src="https://img.icons8.com/ios-filled/150/FF6347/linkedin.png" /></a>     
		<a href="https://twitter.com/isaac152" class="w-1/5"><img src="https://img.icons8.com/ios-filled/150/FF6347/twitter.png" /></a>
	</div>
	</div>
</div>
<div class="fixed inset-0 p-4 bg-white w-2/5 m-auto border-complement rounded-2xl border-2 space-y-5 h-fit hidden" id="modal">

</div>
<script>
    const modal = document.getElementById("modal");
    const body = document.getElementById("body");
    const form = document.getElementById('form');

    function openModal() {
		modal.innerHTML = `
		<img class="mx-auto w-1/3 " src="./images/spinner.gif">
    	<p class="font-roboto text-center font-bold text-3xl"> Please wait...</p>
		`
        modal.classList.remove("hidden");
        body.classList.add("brightness-50")
    }

    function closeModal() {
        modal.classList.add("hidden");
        body.classList.remove("brightness-50")
    }

    body.addEventListener("click", closeModal);

	function renderSpotifyData(data){
		modal.innerHTML = data;
	}


    $(document).ready(function() {
        $('form').submit(function (e) {
			openModal()
            $.ajax({
                type: "POST",
                url: '/form',
                data: $('#form').serialize(), 
                success: function (data) {
					if (data.error){
						modal.innerHTML = `<p class="font-roboto text-center font-bold text-3xl text-red-500">${data.error}</p>`
						return 
					}
					modal.innerHTML =`
                        <img class="mx-auto w-1/2 md:w-1/4" src="./images/small_logo.png">
                        <p class="font-bold text-3xl text-center font-roboto">Enjoy your playlist!</p>
                        <p class="font-bold text-3xl text-center font-roboto">Thanks for using PENPICK</p>
                        <div class="mx-auto break-words  text-center">
                            <a class="text-center text-complement font-semibold" href="${data.spotifyUrl}">${data.spotifyUrl}</a>
                        </div>`;
                },
                error: function (xhr) {
					const errorMessage = xhr.responseJSON?.error || 'Unexpected error, please try again later';
					modal.innerHTML = `<p class="font-roboto text-center font-bold text-3xl text-red-500">${errorMessage}</p>`
                }
            });
            e.preventDefault(); 
        });
    });
</script>
